@import "grid";
@import "variables";
@import "colors";
@import "mixins";

 body {
   background-color: $deepBlue;
   // color: $offWhite;
   color: map-get($red-map, redLight);
   // font-family: $fontHelvSans;
   font: 100% $default-font, "Arial", "Verdana";
   @include zeroMarginsPaddings;
 }

 .container-fluid {
   @include zeroMarginsPaddings;
 }

 h1 {
   text-align: center;
 }

 .navbar {
   @include navBar;
 }

 #content {

  width: 960px;

  @include myMedia(tablet) {
    width: 600px;
  }

  @include myMedia(mobile) {
    width: 90%;
  }
}

 footer {
   text-align: center;
   line-height: 20px;
   // background-color: orange;
   @include zeroMarginsPaddings;
   position: absolute;
   bottom: 0;
   height: 50px;
 }
