//FONTS
$default-font: 'Helvetica', sans-serif;
$titleFontSize_xl: 5em;
$titleFontSize_xs: 2.7em;
$titleFont: 'Sonsie One', cursive;

//MEDIA QUERIES
$babyElephan: 0 575.98px;
$bigSisterElephan: 767.98px 576px;
$parentElephan: 991.98px 768px;
$grandParentElephan: 1199.98px 992px;

$max: 16;
//MAPs
$aMap: (850:12, 450:6, 350:3);
$map: (key: value, nextkey: nextvalue);
$icons: (checkmark: a, plus: b, minus: c);
